body {
    align-content: center;
    margin-top: 10px;
    font-size: 12px;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: auto;
}


td {
    padding-left: 5px;
    padding-right: 5px;
}

table, tr, td {
    border: 1px solid gray;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.mt100 {
    margin-top: 100px;
}

.mt25 {
    margin-top: 25px;
}

.mt50 {
    margin-top: 50px;
}

.mb25 {
    margin-bottom: 25px;
}

.w100 {
    width: 100px;
}

.w500 {
    width: 45%;
}

.w50 {
    width: 50px;
}

.w40 {
    width: 10%;
}

.pr50 {
    padding-right: 55px;
}

.fs14 {
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs18 {
    font-size: 18px;
}
.fs20 {
    font-size: 20px;
}
